node_modules
.env
Makefile
out
cache
broadcast
script

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.DS_Store

/.vscode